h1{
    margin-left: 30%;
}

.formSection{
    /* text-align: left; */
    margin-left: 1%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

input[type=text]{
    padding: 8px 16px;
    text-align: left;
    display: inline-block;
    font-size: 15px;
    margin: 2px 4px;
    border: 2px solid #4CAF50;
    border-style:double;
}

.pic{
    margin-left:2%;
    float:left; 
    height:40px;
    width:40px; 
}

.button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 4px;
    transition-duration: 0.4s;
    cursor: pointer;
}
  
.button1{
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
}
  
.button1:hover{
    background-color: #4CAF50;
    color: white;
}

.button2{
    margin-top: -7%;
    margin-left: 90%;
    background-color: white; 
    color: black; 
    border: 2px solid #b10000;
}
  
.button2:hover{
    background-color: #b10000;
    color: white;
}